#puzzle {
    width: 40vw;
    height: 40vw;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.piece {
    width: 33.3%;
    height: 33.3%;
    background-color: red;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

#empty-piece {
    background-color: #FFF; 
    cursor: auto;
}
