#puzzle {
    width: 60vw;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.piece {
    width: 11.95vw;
    height: 11.95vw;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}